<footer class="pt-3 container text-sm-center">
  <div class="row justify-content-center">
    <div class="col-md-10 col-xl-8">
      <ul class="d-inlne list-unstyled text-muted">
        <li class="d-flex d-sm-inline-flex mr-sm-3">
          <a href="https://validator.w3.org/nu/?showsource=yes&showoutline=yes&showimagereport=yes&doc={{ .Permalink }}" target="blank" class="mr-1">HTML5</a>
          <svg xmlns="http://www.w3.org/2000/svg" width="14px" height="24px" viewBox="0 0 8 8">
            <path d="M4 0c-2.21 0-4 1.79-4 4s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4zm2 1.78l.72.72-3.22 3.22-1.72-1.72.72-.72 1 1 2.5-2.5z" />
          </svg>
        </li>
        <li class="d-flex d-sm-inline-flex mr-sm-3">Built in Cardiff</li>
        <li class="d-flex d-sm-inline-flex"><a href="https://gitlab.com/cupoftegan/cupoftegan.gitlab.io/">Hosted on Gitlab</a></li>
      </ul>
    </div>
  </div>
</footer>
<!-- jQuery CDN -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<!-- Bootstrap CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
