<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-6">
                    <ul class="navbar-nav justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link" href="//twitter.com/CupOfTegan">Twitter</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="//instagram.com/CupOfTegan">Instagram</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="//gitlab.com/CupOfTegan">Gitlab</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="//codepen.io/CupOfTegan/">Codepen</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
