@import url("https://fonts.googleapis.com/css?family=Hind:400,500,700&display=swap");
@keyframes instagram-hover {
  0% {
    background-position: 0%; }
  100% {
    background-position: 200%; } }

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "Hind", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
  padding: 0; }

header {
  padding: 40px 0;
  z-index: 999; }

.brand {
  background-image: url("../assets/logo2x.png");
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  font-size: 0;
  height: 50px;
  width: 165px; }

.navbar {
  background: #000 !important;
  color: #FFF;
  display: block;
  height: 100vh;
  padding: 0;
  right: 0;
  top: 0;
  width: 56px;
  z-index: 9999; }
  .navbar-toggler {
    border: 0;
    margin-top: 15px; }
  .navbar .navbar-collapse {
    background: #000;
    height: 100%;
    right: 56px;
    top: 0;
    width: calc(100vw - 56px); }
  .navbar .navbar-nav {
    height: 100%;
    list-style: none;
    text-align: center; }
    .navbar .navbar-nav .nav-link {
      border-bottom: 2px solid #272727;
      font-size: 2em;
      font-weight: 500; }

.heading {
  font-size: 2em;
  font-weight: 700; }
  @media (min-width: 576px) {
    .heading {
      font-size: 3.5em; } }
  .heading--small {
    font-size: 2em; }
  @media (min-width: 576px) {
    .heading--services {
      border-left: #E4192F 2px solid;
      padding-left: 1em; } }

.text--small {
  font-size: .8em; }

.summary {
  font-size: 1.25em;
  font-weight: 500;
  letter-spacing: 1px; }
  .summary--small {
    font-size: 1em;
    letter-spacing: 0; }

.button {
  background-color: #FFF;
  border: 0;
  color: #E4192F;
  display: block;
  font-size: .9em;
  font-weight: 700;
  letter-spacing: 2px;
  max-width: 230px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out; }
  .button:hover {
    color: #E4192F;
    text-decoration: none;
    transform: scale(1.05); }
  .button--color-red {
    background-color: #E4192F;
    color: #FFF; }
    .button--color-red:hover {
      color: #FFF; }
  .button--color-dark {
    background-color: #272727;
    color: #FFF; }
    .button--color-dark:hover {
      color: #FFF; }
  .button-submit {
    max-width: 100%;
    padding: 15px;
    width: 100%; }

.banner {
  background-color: #121212;
  color: #FFF; }
  .banner__text {
    padding-top: 40vh; }
  .banner__call-to-actions {
    bottom: -74px;
    position: relative; }

video {
  object-fit: cover;
  width: 100%; }

.services-intro {
  background: #121212;
  color: #FFF;
  padding-bottom: 150px;
  padding-top: 100px; }
  @media (min-width: 576px) {
    .services-intro {
      padding-bottom: 200px;
      padding-top: 150px; } }

.services-list {
  margin-top: -85px;
  padding-bottom: 85px; }
  .services-list a:hover {
    text-decoration: none; }
  .services-list img {
    margin-right: -20px;
    max-width: 100%;
    position: relative;
    width: 100%;
    z-index: 1; }
  .services-list article {
    margin: 20px 0;
    transition: all 0.3s ease-in-out; }
    @media (min-width: 992px) {
      .services-list article {
        margin: 0;
        width: 80%; } }
    .services-list article:hover {
      transform: scale(1.05); }
  .services-list__text {
    background-color: #FFF;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    margin-left: -15px;
    margin-top: -30px;
    min-height: 175px;
    padding: 20px;
    position: relative;
    width: 100%;
    z-index: 2; }
    @media (min-width: 992px) {
      .services-list__text {
        margin-left: -25px;
        max-width: 350px;
        padding: 40px;
        padding-left: 50px; } }
  .services-list h3 {
    color: #000;
    font-size: 1.4em;
    font-weight: 700;
    line-height: 1.5; }
  .services-list p {
    color: #E4192F;
    font-size: .75em;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 0;
    margin-top: 10px;
    padding: 0;
    text-transform: uppercase; }

.carousel-item {
  background-position: center;
  background-size: cover; }
  .carousel-item__first {
    background-image: url("../assets/banner.jpg"); }
  .carousel-item__second {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%), url("../assets/banner-2.jpg"); }
  .carousel-item__third {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%), url("../assets/banner-3.jpg"); }

.carousel-inner {
  overflow: visible; }

.carousel-indicators {
  justify-content: flex-end; }
  .carousel-indicators li {
    height: 2px;
    margin: 0;
    top: 0;
    transition: all .3s ease-in-out;
    width: 60px; }

.contact {
  background-color: #121212;
  color: #FFF;
  padding: 15vh 0; }

input,
textarea {
  background-color: #272727;
  border: 0;
  border-radius: 0;
  color: #FFF;
  padding: 15px; }
  input::placeholder,
  textarea::placeholder {
    color: #FFF;
    font-size: .75em;
    font-weight: 500; }

footer {
  background-color: #000;
  color: #FFF;
  padding: 32px; }
  @media (min-width: 0) and (max-width: 575px) {
    footer {
      text-align: center; } }
  footer a {
    color: #E4192F; }
    footer a:hover {
      animation: instagram-hover 2s linear infinite;
      background: linear-gradient(to right, #FEDA75 0%, #FA7E1E 11%, #D62976 22%, #962FBF 33%, #4F5BD5 44%, #962FBF 66%, #D62976 77%, #FA7E1E 88%, #FEDA75 100%);
      background-clip: text;
      -webkit-background-clip: text;
      background-size: 200%;
      color: rgba(0, 0, 0, 0); }

header,
main,
footer {
  padding-right: 56px; }
