<!DOCTYPE html>
<html lang="{{ .Lang }}">
  {{ partial "head.html" . }}
<body class="bg-dark text-white">
    {{ partial "skip-to-content.html" . }}

    {{ partial "nav.html" . }}

    {{ block "header" . }}{{ partial "header.html" . }}{{ end }}

    {{ if .IsHome }}
    {{ else }}
    <main class="py-5" id="main">
        {{ block "main" . }}{{ end }}
    </main>
    {{ end }}

    {{ partial "footer.html" . }}
  </body>
</html>
